*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#080808;
    color:#ffffff;
    line-height:1.6;
}


/* HEADER */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
    border-bottom:1px solid #2b2118;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#d4af37;
}


nav a{
    color:#ffffff;
    text-decoration:none;
    margin-left:25px;
    transition:0.3s;
}


nav a:hover{
    color:#d4af37;
}


/* HERO */

.hero{
    text-align:center;
    padding:100px 10%;
}


.hero h1{
    font-size:60px;
    color:#d4af37;
}


.hero h1 span{
    color:#ffffff;
}


.hero h2{
    font-size:35px;
    margin:20px;
    color:#b87333;
}


.hero p{
    max-width:700px;
    margin:auto;
    font-size:18px;
    color:#cccccc;
}


button{
    margin-top:35px;
    padding:15px 35px;
    border:none;
    border-radius:30px;
    background:#d4af37;
    color:#000;
    font-weight:bold;
    cursor:pointer;
}


button:hover{
    background:#ffffff;
}


/* SECTIONS */

section{
    padding:70px 10%;
    text-align:center;
}


section h2{
    font-size:36px;
    color:#d4af37;
    margin-bottom:25px;
}


section p{
    color:#cccccc;
}


/* CARDS */

.card{
    background:#151515;
    border:1px solid #3b2a1b;
    border-radius:15px;
    padding:35px;
    max-width:700px;
    margin:auto;
}


.card h3{
    color:#b87333;
    margin:20px;
}


.card ul{
    list-style:none;
}


.card li{
    padding:8px;
}


/* FOOTER */

footer{
    text-align:center;
    padding:30px;
    border-top:1px solid #2b2118;
    color:#777;
}


/* MOBILE */

@media(max-width:768px){

header{
    flex-direction:column;
}

nav{
    margin-top:20px;
}

.hero h1{
    font-size:40px;
}

}
